<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.demo.dao.DepartmentMapper">
    <select id="getDepartments" resultType="Department">
        select * from department;
    </select>
    <select id="getcounts" resultType="java.util.Map">
        select a.id,a.departmentName ,b.c from
        (select id,departmentName from department ) a join
        (SELECT departmentid as id,COUNT(departmentid) as c FROM employee GROUP BY departmentid) b
        on a.id=b.id;
    </select>


</mapper>